@import 'bootstrap/bootstrap';
@import 'owl-carousel/owl.carousel';
@import 'font-awesome/font-awesome';

@mixin shape {
    background: $white;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    box-shadow: 2px 3px 16px $gray-600;
}

header {
    background: $blue;
}

.logo {
    max-width: 20rem;
    width:100%;
    
}

.box {
    background: rgba($white, .3);
    position: relative;
    border-radius: $border-radius-lg;
    overflow: hidden;
    margin-top: 2rem;
}

.calculator {
    background: url(../images/london.jpg) center no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba($white, .5);
    }
    .wrapper {
        padding: 1rem 1.5rem;
    }

    .caption {
        background: $blue;
        width: 100%;
        padding: $spacer $spacer * 2;

        h1 {
            color: $gray-300;
        }
    }

    fieldset {
        padding: 1.2rem 1.2rem;
        label {
            color: $gray-600;
            opacity: .9;
            font-size: 10px;
            transform: translateX(.9rem);
            buttom: 2px;
            position: absolute;
        }
        input {
            background: $white;
            border: 1px solid transparent;
            box-shadow: 2px 3px 16px $gray-600;
            text-align: center;
            font-size: 30px;
            color: $gray-600;
        }
    }
    .list-item {
        color: $gray-600;
        &::before {
            content: "\f111";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            color: $gray-600;
        }
    }

    .service {
        @include media-breakpoint-down(md) {
            padding: 2rem 2rem;
        }
        @include media-breakpoint-up(md) {
            padding: 2rem 8rem;
        }
        margin-bottom: 2rem;
        ul {
            li {
                color: $blue;

                &:last-of-type i {
                    transform: rotate(-10deg);
                    padding: 0 .4rem;
                }
                &::before {
                    content: "\f046";
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: -1.3em;
                    width: 1.3em;
                }
            }
        }
    }
}

//   finish service
@include media-breakpoint-down(sm) {
    .picture {
        text-align: center;
    }
}


footer {
    padding: 1rem 0;
    background: $blue;

    ul {
        padding: 0.5rem 4rem;
        display: inline-block;
        border-right: 1px solid white;
        &:last-of-type {
            border: none;
        }
    }
}